<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <tbody>
          <tr>
            <td>Diagonal</td>
            <td>{{ product.diagonal }}</td>
          </tr>
          <tr>
            <td>Matrix</td>
            <td>{{ product.matrix }}</td>
          </tr>
          <tr>
            <td>Processor Freq</td>
            <td>{{ product.proccesor_freq }}</td>
          </tr>
          <tr>
            <td>RAM</td>
            <td>{{ product.ram }}</td>
          </tr>
          <tr>
            <td>Video Card</td>
            <td>{{ product.videp_card }}</td>
          </tr>
          <tr>
            <td>Time Witout Carge</td>
            <td>{{ product.time_without_charge }}</td>
          </tr>
      </table>
</body>
</html>
